.navbar-brand{
    font-size: 2rem !important;
    color: orangered !important;
    font-family: 'IBM Plex Serif'
}
.navbar-brand:hover{
    color: black;
}
.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
}
.nav-link:hover{
    color: black;
}
.search{
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline: none;
    border: 2px solid rgb(248, 26, 92);
    margin-right: -35px;
}
.btn0{
    height: 40px;
    width: 40%;
    border: none;
    outline: none;
    background: rgb(248, 26, 92);
    color: white;
    border-radius: 60px;
    font-weight: 700;
}